<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @guest.name %>
</p>

<p>
  <b>Party:</b>
  <%= link_to @guest.party.name, @guest.party %>
</p>

<p>
  <b>Address:</b>
  <%= @guest.address %>
</p>


<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
